infra-sofa-boot-starter/src/main/resources/META-INF/com/alipay/boot/middleware/service/config/mgw.xsd

<xsd:schema xmlns="http://schema.alipay.com/sofa/schema/slite"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://schema.alipay.com/sofa/schema/slite"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!-- mgw start -->
    <xsd:element name="mobileservice" type="TMobilegw"/>
    <xsd:complexType name="TMobilegw">
    	<xsd:complexContent>
    		<xsd:extension base="beans:identifiedType">
    			<xsd:attribute name="scan-package" type="xsd:string" use="required"/>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    <!-- mgw end -->

</xsd:schema>